# Auto normalize line-endings

* text eol=lf encoding=UTF-8

# Always LF line-endings

*.sh text eol=lf

# Always CRLF line-endings

*.sln text eol=crlf
*.csproj text eol=crlf

*.eot binary
*.ttf binary
*.woff binary
*.ico binary

# Diff settings

*.cs     diff=csharp text 
*.vb     text